ul{
    list-style-type: decimal;
}

h3{
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: inset;
}

li{
    margin-left: 100px;
    height: 30px;
    color: black;
}

table{
    margin-left: 100px;
}

td{
    padding: 5px;
}

th {
    text-align: left;
    padding: 5px
}

#booksList {
    margin: 50px;
}

a{
    text-decoration: none;
}


